@import "tailwindcss";

:root {
  --background: #eee;
  --font-family-cairo: var(--font-cairo), Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  font-family: var(--font-family-cairo);
}
